<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
<title>asian hotties</title>
<style>.container {max-width: 960px;} img {max-width: 100%;}</style>
</head>

<body>

<div class="container">
{% for content in contents %}
    <div>
        <a href="{{content.href}}">{{content.title}}</a>
    </div>
    {% if content.thumb_img %}<img src="{{content.thumb_img}}"
        {% if content.big_img %} large-src="{{content.big_img}}" class="image" small-src="{{content.thumb_img}}" {% endif %}
        width="70" height="69" alt=""/>{% endif %}
{% endfor %}
</div>
</body>
</html>