<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <title>asian hotties crawled from reddit</title>
    %s
    <style type="text/css">
        .container {
            max-width: 960px;}
        
        img {
            max-width: 100%;
        }
        
        .image, .big_image {
            cursor: url("//s.imgur.com/include/magnify.cur"), default;
        }
    </style>
</head>

<body>

    <script type="text/javascript">
    var large_image = "<img style=\"display: none;\"></img>";
    $(document).ready(function(){
        $('.image').each(function(i) {
            $(this).on('click', function () {
                
                if ($(this).hasClass("zoom"))
                {
                    return false;
                }
                else
                {
                    $(this).addClass("zoom");
                    var small_image = this;
                    $(this).siblings(".loading_gif").css("display", "");
                    var large_src = $(this).attr("large-src");
                    var timeout = setTimeout(function () {
                        console.log("time out to load big image");
                        $(small_image).siblings(".big_image").children().remove();
                        $(small_image).removeClass("zoom");
                        $(small_image).css("display", "");
                        $(small_image).siblings(".loading_gif").css("display", "none");
                    }, 45 * 1000);
                    $(this).siblings(".big_image").append(large_image);
                    $(this).siblings(".big_image").children().error(function () {
                        console.log("error to load big image");
                        clearTimeout(timeout);
                        $(this).remove();
                        $(small_image).removeClass("zoom");
                        $(small_image).css("display", "");
                        $(small_image).siblings(".loading_gif").css("display", "none");
                    }).attr("src", large_src).on("load", function () {
                        clearTimeout(timeout);
                        $(small_image).siblings(".loading_gif").css("display", "none");
                        $(small_image).css("display", "none");
                        $(small_image).removeClass("zoom");
                        $(this).css("display", "");
                    }).on("click", function () {
                        $(this).css("display", "none");
                        $(small_image).css("display", "");
                        $(this).remove();
                    });
                }
                return false;
            });
        });
        
    });  
    </script>

    <div class="container">
    {% for content in contents %}
        <div>
            <a href="{{content.href}}">{{content.title}}</a>
        </div>
        <div>
            {% if content.thumb_img %}<img src="{{content.thumb_img}}"
                {% if content.big_img %} large-src="{{content.big_img}}" class="image" small-src="{{content.thumb_img}}" {% endif %}
                 alt="Click to zoom"/>{% endif %}
            <img style="margin: 27px 27px 27px -43px; display: none;" src="//s.dabin.info/static/loading.gif" class="loading_gif"/>
            <div class="big_image">
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>