<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <title>asian hotties crawled from reddit</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style type="text/css">
        .container {
            max-width: 960px;}
        
        img {
            max-width: 100%;
        }
        
        .image {
            cursor: url("//s.imgur.com/include/magnify.cur"), default;
        }
    </style>
</head>

<body>

    <script type="text/javascript">
    $(document).ready(function(){
        $('.image').each(function(i) {
            $(this).on('click', function () {
                console.log($(this).attr("src"));
                $(this).toggleClass("zoom");
                if (!$(this).hasClass("zoom"))
                {
                    $(this).attr("src", $(this).attr("small-src"));
                }
                else
                {
                    var image = $(this);
                    $.ajax({
                       url: $(this).attr("large-src")
                    }).done(function(a, b, c) {
                        $(image).attr( "src", $(image).attr("large-src"));
                    });
                    
                }
                return false;
            });
        });
        
    });  
    </script>

    <div class="container">
    {% for content in contents %}
        <div>
            <a href="{{content.href}}">{{content.title}}</a>
        </div>
        {% if content.thumb_img %}<img src="{{content.thumb_img}}"
            {% if content.big_img %} large-src="{{content.big_img}}" class="image" small-src="{{content.thumb_img}}" {% endif %}
             alt="Click to zoom"/>{% endif %}
    {% endfor %}
    </div>
</body>
</html>